@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Outfit", serif;
   
   
    
   
}
.QR{ width:200px;
    height:auto;
    background-color:hsl(0, 0%, 100%) ;
    border: 1px black solid;
    padding: 20px;
    border-radius: 20px;
}
.heading{
    font-weight: 700;
    font-size: 15px;
}
.paragraph{
    font-weight: 400;
    font-size: 15px;
}